<h2>Taz's Daily Todo List</h2>

<div class="card-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Todo</mat-card-title>
    </mat-card-header>
    <mat-selection-list>
      <mat-list-option (click)="moveToCompleted(idx)"
                      checkboxPosition="before"
                      *ngFor="let task of todos; let idx = index;">
        {{task}}
      </mat-list-option>
      <mat-list-item *ngIf="!todos.length">Nothing left to do today!</mat-list-item>
    </mat-selection-list>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Completed</mat-card-title>
    </mat-card-header>
    <mat-selection-list>
      <mat-list-option checkboxPosition="before"
                      selected="true"
                      (click)="moveToTodo(idx)"
                      *ngFor="let task of completed; let idx = index;">
        {{task}}
      </mat-list-option>
      <mat-list-item *ngIf="!completed.length">No items have been completed today</mat-list-item>
    </mat-selection-list>
  </mat-card>
</div>